---
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";
export const prerender = true;

const meta = {
	description: "仙人掌主题",
	// 修改：关于
	title: "关于",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-8">关于</h1>

	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
     https://zh.zcr4.ip-ddns.com/https://z.zcr4.ip-ddns.com/Tool2.html#desec.io
		</p>
		<p>
     https://www.terabox.com/main?category=all
		</p>
		<p>
     https://da.zcr4.ip-ddns.com/
		</p>
		<p>
			https://www.doubao.com/chat/drive/?tab=myUpload
		</p>
		<p>
			https://da.zcr4.ip-ddns.com/
		</p>
	</div>
	<div>
		<SocialList />
	</div>
</PageLayout>
